@if (TempData["Exception"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Exception"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}

@if (ViewData["Exception"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Exception"]
    </div>
}

@if (ViewData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["Success"]
    </div>
}